<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find smr1000_description)/urdf/smr1000_description.urdf" />
  
  <param name="/use_sim_time" value="true"/>
  
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find smr1000_description)/rviz/display.rviz" />
</launch>
